
.forecast-day{
  margin: 1vh;
  text-align: center;
}


.flex{
  display: flex;
  justify-content: center;
  width: auto;
}

.current-feelslike p{
  margin: 0;
}



.current-feelslike{
  display: flex;
  justify-content: center;
}


.card-header{
  font-size: 30px;
}

.bold{
  font-weight:bold;
}

.current-temp{
  padding-right:10px;

}

.feelslike-temp{
  padding-left: 10px;
}
