body{
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 90vh;
  width: 95%;
}

.indmnt{
  border: 1px solid black;
  padding: 40px;
  margin: 50px;
  height: 450px;
  max-width: 550px;
}


.low{
  color: #9aa0a6;
}



.content{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
