body{
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 90vh;
  width: 95%;
}

.indmnt{
  border: 1px solid black;
  padding: 40px;
  margin: 50px;
  height: 400px;
  max-width: 100%;
  /* max-width: 350px; */
}

.indmnt h1{
  color: red;
  text-align: center;
}



.low{
  color: #9aa0a6;
}



.content{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
