
/* responsible for rending forecast */
.current-feelslike{
  display: flex;
  justify-content: center;
  align-self: center;

  transform: scale(140%) translateX(-40px);

}


.card-header{
  font-size: 30px;
}

.bold{
  font-weight:bold;
}

.current-temp{
  font-size: 30px;
  vertical-align: sub;

}

.feelslike-temp{
  padding-left: 10px;
}


.mntsConds{
/* background-color: red; */
display: flex;
flex-direction: row;
width: 100%;
}


.trail_info{
  font-size: 13px;
  margin-top:60%;
  margin-right: 27%;
}



.lift_info{
  font-size: 13px;
  margin-top:60%;
  margin-right: 75%;

}


.infoClick{
  width: 56.5%;
  height: 76%;
  transform: translateY(-115%) translateX(4%)
}


.infoClick:hover{
  cursor: pointer;
  opacity: 0.6;
  background-color: grey;
}
