body{
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 90vh;
  width: 95%;
}

.indmnt{
  /* border: 1px solid black; */
  /* padding: 40px; */
  margin: 10px;
  height: 400px;
  max-width: 100%;
  /* max-width: 350px; */
}

.indmnt h1{
  color: red;
  text-align: center;
}


.low{
  color: #9aa0a6;
}


.btn:focus {
  box-shadow: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.tf-info{
  display: flex;
  justify-content: center;
}

.card{
  margin: 10px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 5px #f7f7f7;
}

.card-header{
  font-size: 30px;
}

.bold{
  font-weight:bold;
}

.trails{
  padding-right:10px;

}

.lifts{
  padding-left: 10px;
}



.floated{
  float: right;
}





.inputSearch{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

.searchBar{
  text-align: center;
  border-radius: 10px;
  position:relative;
  /* height: 45px; */
  width: 75%;
}


.btn-icon{
  display: none;
}

@media only screen and (max-width: 600px) {
    .searchBar{
      text-align: center;
      border-radius: 10px;
      position:relative;
      height: 45px;
      width: 90%;
      margin-bottom: 15px;
    }

    .inputSearch{
      padding-top: 15px;
      width: 100%;
    }

    .card{
      margin: 0px;
      /* margin-bottom: 20px; */
      width: 100%;
      transform: scale(0.95);
    }
    .btn-text{
      display: none;
    }
    .btn-icon{
      display: block;
    }

    .content{
      display: flex;
      flex-wrap: wrap;
      justify-content:unset;
      /* padding-top: 45px; */
      margin: 0 !important;
    }
    .top-container{
      /* display: inline-block; */
    }
    .card-header{
    font-size: 24px;
    }

    .test{
      padding-right: 10px;
      padding-left: 10px;
    }
}



li:hover {
    background-color: transparent;
}
