
/* responsible for rending forecast */
.current-feelslike{
  display: flex;
  justify-content: center;
  align-self: center;
  transform: scale(140%) translateX(-40px);
}


.card-header{
  font-size: 30px;
}

.bold{
  font-weight:bold;
}

.current-temp{
  font-size: 30px;
  vertical-align: sub;

}

.feelslike-temp{
  padding-left: 10px;
}


.mntsConds{
/* background-color: red; */
display: flex;
flex-direction: row;
width: 100%;
}


.trail_info{
  font-size: 13px;
  margin-top:60%;
  margin-right: 27%;
}



.lift_info{
  font-size: 13px;
  margin-top:60%;
  margin-right: 75%;

}


.infoClick{
  width: 56.5%;
  height: 76%;
  transform: translateY(-115%) translateX(4%)
}


.infoClick:hover{
  cursor: pointer;
  opacity: 0.6;
  /* background-color: grey; */
}






.CircularProgressbar {
    margin: -20px;
}


@media only screen and (max-width: 600px) {
  .CircularProgressbar {
      margin: 0px;
  }
  .CircularProgressbar-text{
    fill: black;
    font-size: 18px;
    transform: translateY(-13.5px) !important;
    margin: -50px;
  }


  .trail_info{
    font-size: 12px;
    margin-top: 20%;
    margin-right: 12%;
  }

  .lift_info{
    font-size: 12px;
    margin-top: 20%;
    margin-right: 60%;
  }


  .current-feelslike{
    display: flex;

    justify-content: center;
    align-self: center;
    transform: scale(120%) translateX(-25px);
  }

  .feelslike-temp{
    padding-left: 0px;
    margin: 0px;
    width: 130%;
  }
  .weather-area img{
    /* transform: translateX(10px); */
  }

  .mntsConds {
      padding-bottom: 15px;
  }
}





.weather-area{

}
