.mainTitle{
  text-align: center;
}


.mainheader{
  text-align: center;
  font-size: 20px;
}


.dpdn{
  border:2px solid #ccc;
  width:300px;
  height: 100px;
  overflow-y:
  scroll;
}


.userName{
  background-color: red;
  float: right;
}


.username{
  font-size: 24px;
  float: right;
  vertical-align:baseline;
  padding-right: 5px;
  padding-top: 5px;
  }


.btnn{
  float: right;
  vertical-align: sub;
}


.left{
  float: left;
  padding-left: 10px;
}

.box {
  padding: 20px;
  margin-bottom: 10px;
}
.push {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.break{
  padding-bottom: 5%;
}



.extended{
  width: 100%;
}



.links a{
  width: 30%;
}

.links{
  display: flex;
  justify-content:space-around;
}



.results{
  background-color: grey;
  color: white;
  border:2px solid #ccc;
  width:300px;
  height: auto;
  max-height: 100px;
  overflow-y:
  scroll;
}



.hidden {
    display: none;
}


.collapseStyling{
  float: right;
  text-align: end;
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width: 990px  ) {
  .collapseStyling{
    width: 100%;
    text-align: center;
  }

}



@media only screen and (max-width: 600px) {
  .left{
    float: left;
    padding-left: 0px;
  }

  .button-update{
    background-color: red;
  }

  .push {
    float: right;
    padding-left: 0px;
    padding-right: 0px;
  }
}




/*
 .btnContainer {
  position: relative;
  display: inline-block;
  float: right;
}
.signOutBtn {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}



.dropdown {
  position: absolute;
  top: 100%;
  right: 1%;
  width: 100px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
  text-align: center;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
} */
