.mainTitle{
  text-align: center;
  font-size: 60px;
}


.mainheader{
  text-align: center;
  font-size: 20px;
}


.dpdn{
  border:2px solid #ccc;
  overflow-y:
  scroll;
}


.mnt-styling{
  width: 100%;
  margin: 0;
  padding: 2.5px;
}


.dpdn div:nth-child(2n) {
  background-color:#ededed;
}

.userName{
  background-color: red;
  float: right;
}


.username{
  font-size: 24px;
  float: right;
  vertical-align:baseline;
  padding-right: 5px;
  padding-top: 5px;
  }


.btnn{
  float: right;
  vertical-align: sub;
}


.left{
  float: left;
  padding-left: 10px;
}

.box {
  padding: 20px;
  margin-bottom: 10px;
}
.push {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.break{
  padding-bottom: 5%;
}

.extended{
  width: 100%;
}



.links a{
  width: 30%;
}

.links{
  display: flex;
  justify-content:space-around;
}

.results{
  color: black;
  border:1px solid #ccc;
  height: auto;
  max-height: 100px;
  overflow-y:
  scroll;
}

.results div:nth-child(2n) {
  background-color:#ededed;
}



.hidden {
    display: none;
}


.collapseStyling{
  float: right;
  text-align: end;
}

.mnt-close-btn{
  margin-right: 20px;
}

.mnt-save-changes-btn{
  margin-left: 20px;
}

.errorMsg{
  color: red;
  text-align: center;
  transform: translateY(-10px);
  font-size: 13px;
}

@media only screen and (max-width: 990px  ) {
  .collapseStyling{
    width: 100%;
    text-align: center;
  }

}


.mnt-image{
  height: 25px;
  width: 25px;
  transform: translateX(5px);
}


@media only screen and (max-width: 600px) {
  .left{
    float: left;
    padding-left: 0px;
  }

  .button-update{
    background-color: red;
  }

  .push {
    float: right;
    padding-left: 0px;
    padding-right: 0px;
  }
  .mainTitle{
    font-size: 41px;
    padding-top: 35px;
    padding-bottom: 35px;
    letter-spacing: 3.5px;
  }

  .mnt-selection-text{
    display: none;
  }

  .mnt-image {
    height: 30px;
    width: 30px;
    transform: translateX(0px);
}

  .mobile-adjustment div button{
    height: 45px;
  }

}
